body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #bac46d;
    color: #262020;
    padding: 40px 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-column h3 {
    color: #161313;
    margin-bottom: 15px;
}

.footer-column p,
.footer-column ul,
.footer-column a {
    color: #161313;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a:hover {
    color: #211717;
}

.social-icons a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333333;
}

.footer-bottom p {
    margin: 0;
}
